:root {
    --lightPurple: hsl(254, 88%, 90%);
    --darkPurple: hsl(256, 67%, 59%);
    --lightYellow: hsl(31, 66%, 93%);
    --darkYellow: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
    --grey: hsl(240, 11%, 96%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: var(--grey);
    font-family: "DM Sans", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

section {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

/* SECTION SOCIAL MEDIA */
section.social-media {
    background-color: var(--darkPurple);
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

section.social-media h1 {
    font-size: 44px;
    font-weight: 400;
    line-height: 95%;
    letter-spacing: -0.5px;
    max-width: 250px;
}

section.social-media span {
    color: var(--darkYellow);
}

section.social-media img {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 55%;
    height: 55%;
}

section.social-media p{
    font-size: 16px;
    font-weight: 300;

}

/* SECTION MANAGE ACCOUNTS */
section.manage-accounts{
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.manage-accounts img {
    max-width: 300px;
}

section.manage-accounts h2{
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 85%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

/* SECTION POSTING SCHEDULE */
section.posting-schedule{
    background-color: var(--darkYellow);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    padding-bottom: 0;
}

section.posting-schedule img{
    width: 75%;
    margin-top:20px;
}

section.posting-schedule h2{
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 85%;
}