:root {
    --lightPurple: hsl(254, 88%, 90%);
    --darkPurple: hsl(256, 67%, 59%);
    --lightYellow: hsl(31, 66%, 93%);
    --darkYellow: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
    --grey: hsl(240, 11%, 96%);

}

/* Set all page elements to a box template 
that makes it easier to control sizes, 
and remove default margins and padding, 
giving a cleaner and consistent layout from the start. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: var(--grey);
    font-family: "DM Sans", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

section {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.07);
  }

/* SECTION SOCIAL MEDIA */
section.social-media {
    background-color: var(--darkPurple);
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

section.social-media h1 {
    font-size: 44px;
    font-weight: 400;
    line-height: 95%;
    letter-spacing: -0.5px;
    max-width: 250px;
}

section.social-media span {
    color: var(--darkYellow);
}

section.social-media img {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 55%;
    height: 55%;
}

section.social-media p{
    font-size: 16px;
    font-weight: 300;

}

/* SECTION MANAGE ACCOUNTS */
section.manage-accounts{
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

section.manage-accounts img {
    max-width: 300px;
}

section.manage-accounts h2{
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 85%;
}

/* SECTION POSTING SCHEDULE */
section.posting-schedule{
    background-color: var(--darkYellow);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    padding-bottom: 0;
    gap: 20px;
}

div.trimmed-img {
    overflow: hidden;
}

div.trimmed-img img {
    width: 70%;
    margin-bottom: -22px;
}

section.posting-schedule h2{
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 85%;
}

/* SECTION SCHEDULE TO SOCIAL MEDIA */
section.schedule {
    background-color: var(--lightPurple);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

section.schedule img {
    max-width: 300px;
}

section.schedule h2 {
    font-size: 24px;
    font-weight:600;
    letter-spacing: -1px;
    line-height: 85%;
    margin-top: 10px;
}

section.schedule p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.5px; 
    max-width: 90%;
}

/* SECTION FOLLOWERS GROWTH */
section.growth {
    background-color: var(--darkPurple);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

section.growth img {
    max-width: 225px;
}

section.growth h2 {
    max-width: 200px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: -0.5px; 
}

/* SECTION FASTER GROWTH */
section.faster-growth {
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

section.faster-growth img{
    max-width: 175px;
}

section.faster-growth h2{
    font-size: 44px;
    font-weight:600;
    letter-spacing: -0.5px; 
}

section.faster-growth p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.5px; 
}

/* SECTION CREATE AND SCHEDULE CONTENT */
section.create-content {
    background-color: var(--lightYellow);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

section.create-content h2 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px; 
    line-height: 1;
}

section.create-content i {
    color: var(--darkPurple);
}

section.create-content img {
    max-width: 170px;
}

/* SECTION WRITE CONTENT USING AI */
section.write-ai {
    background-color: var(--darkYellow);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

section.write-ai h2 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px; 
    line-height: 1;
    margin-top: 5px;
}

section.write-ai img {
    max-width: 225px;
}

