:root {
    --lightPurple: hsl(254, 88%, 90%);
    --darkPurple: hsl(256, 67%, 59%);
    --lightYellow: hsl(31, 66%, 93%);
    --darkYellow: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
    --grey: hsl(240, 11%, 96%);

}

/* Remove default margins and padding,  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* Base styles for mobile (375px) */
body {
    background-color: var(--grey);
    font-family: "DM Sans", sans-serif;
}

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

section {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.07);
  }

/* SECTION SOCIAL MEDIA */
section.social-media {
    background-color: var(--darkPurple);
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 20px;
}

section.social-media h1 {
    font-size: 44px;
    font-weight: 400;
    line-height: 95%;
    letter-spacing: -0.5px;
    max-width: 250px;
}

section.social-media span {
    color: var(--darkYellow);
}

section.social-media img {
    width: 55%;
    height: 55%;
}

section.social-media p{
    font-size: 16px;
    font-weight: 300;

}

/* SECTION MANAGE ACCOUNTS */
section.manage-accounts{
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

section.manage-accounts img {
    max-width: 300px;
}

section.manage-accounts h2{
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 85%;
}

/* SECTION POSTING SCHEDULE */
section.posting-schedule{
    background-color: var(--darkYellow);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    padding-bottom: 0;
    gap: 20px;
}

div.trimmed-img {
    overflow: hidden;
}

div.trimmed-img img {
    width: 70%;
    margin-bottom: -22px;
}

section.posting-schedule h2{
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 85%;
}

/* SECTION SCHEDULE TO SOCIAL MEDIA */
section.schedule {
    background-color: var(--lightPurple);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

section.schedule img {
    max-width: 300px;
}

section.schedule h2 {
    font-size: 24px;
    font-weight:600;
    letter-spacing: -1px;
    line-height: 85%;
    margin-top: 10px;
}

section.schedule p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.5px; 
    max-width: 90%;
}

/* SECTION FOLLOWERS GROWTH */
section.growth {
    background-color: var(--darkPurple);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

section.growth img {
    max-width: 225px;
}

section.growth h2 {
    max-width: 200px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: -0.5px; 
}

/* SECTION FASTER GROWTH */
section.faster-growth {
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

section.faster-growth img{
    max-width: 175px;
}

section.faster-growth h2{
    font-size: 44px;
    font-weight:600;
    letter-spacing: -0.5px; 
}

section.faster-growth p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.5px; 
}

/* SECTION CREATE AND SCHEDULE CONTENT */
section.create-content {
    background-color: var(--lightYellow);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

section.create-content h2 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px; 
    line-height: 1;
}

section.create-content i {
    color: var(--darkPurple);
}

section.create-content img {
    max-width: 170px;
}

/* SECTION WRITE CONTENT USING AI */
section.write-ai {
    background-color: var(--darkYellow);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

section.write-ai h2 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px; 
    line-height: 1;
}

section.write-ai img {
    max-width: 225px;
}

/* Styles for Large Mobile */
@media (min-width: 425px) {
    section {
        width: 90%;
    }
}

/* Styles for Tablet */
@media (min-width: 768px) {
    section {
        width: 50%;
    }
}

/* Styles for Tablet in Landscape */
@media (min-width: 1024px) {
    section {
        width: 40%;
    }
}

/* Styles for Small Laptops */
@media (min-width: 1280px) {
    .attribution {
        padding: 4px 0;
        text-align: center;
        font-size: 14px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: repeat(6, 0.5fr); 
        gap: 20px; 
        max-width: 1000px;
        height: calc(100vh - 60px); 
        /* Subtrai a altura da .attribution */
        margin: 0 auto; 
    }

    section {
        width: 100%;
        height: 100%;
    }

    section.create-content {
        grid-column: 1 / 2; 
        grid-row: 1 / 4 ; 
        align-items: center;
        justify-content: space-evenly;
    }

    section.write-ai {
        grid-column: 1 / 2; 
        grid-row: 4 / 7; 
        align-items: center;
        justify-content: space-evenly;
    }

    section.social-media {
        grid-column: 2 / span 2;
        grid-row: 1 / 3; 
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 50px 0px 50px 0px;
    }  

    section.manage-accounts {
        grid-column: 2 / 3; 
        grid-row: 3 / 5; 
        justify-content: space-evenly;
        align-items: start;
        overflow: hidden;
    }

    section.posting-schedule {
        grid-column: 3 / 4; 
        grid-row: 3 / 5; 
        gap: 40px;
    }

    section.faster-growth {
        grid-column: 2 / 3;
        grid-row: 5 / 7; 
    }

    section.schedule {
        grid-column: 4 / 5; 
        grid-row: 1 / 5; 
    }

    section.growth {
        grid-column: 3 / span 2; 
        grid-row: 5 / 7; 
        display: flex;
        flex-direction: row;
    }

    img:not(section.manage-accounts img, section.social-media img, section.create-content img, section.write-ai img, div.trimmed-img img ){
        width: 80%;
    }

    section.create-content h2 {
        font-size: 36px;
        font-weight: 500;
        letter-spacing: -2px; 
        line-height: 0.9;
    }

    section.create-content img {
        max-width: 150px;
    }

    section.write-ai h2 {
        font-size: 36px;
        font-weight: 500;
        letter-spacing: -2px; 
        line-height: 0.9;
        text-wrap: balance;
    }

    section.write-ai img {
        width: 80%;
        height: 60%;
    }
    
    section.social-media h1 {
        font-size: 52px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.5px;
        max-width: 500px;
    }
    
    section.social-media img {
        margin-top: 20px;
        width: 38%;
        height: 20%;
    }
    
    section.manage-accounts img {
        max-width: 276px;
    }
    
    section.manage-accounts h2, section.posting-schedule h2{
        font-size: 30px;
        font-weight: 600;
        letter-spacing: -2px;
        line-height: 0.9;
    }
    
    div.trimmed-img {
       /* overflow: hidden; */
       height: 80px;
    }
    
    div.trimmed-img img {
        width: 100%;
        object-fit: cover;
    }
    
    
}
